*{
  background-color: rgb(235, 231, 222);
  text-align: center;
}

.login-button{
  background-color: rgb(76, 41, 41);
  color: white;
  padding: 5px 50px ;
  margin-top: 10px;
  border-radius: 5px;
}

.votingphoto{
  width: 200px;
}

.mainphoto{
  width:100%;
  height:300px;
}
